.app_news-container{
      position: relative;
      width: 100%;
      min-height: 1186px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      margin-bottom: -200px;
}
.app_news-content{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
}
.app_news-title{
      width: 65%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0px;

}
.app_news-title-text{
      font-size: 55px;
      color: var(--color-blue);
      font-family: 'K2D', sans-serif;
      font-weight: 800;
}
.app_news-title-button-container {
      display: flex;
      align-items: flex-end;
      height: 53px;
  }
.app_news-title-button{
      background-color: var(--color-blue);
      border: none;
      padding: 13px 38px;
      border-radius: 30px;
      cursor: pointer;
      color: #fff;
}
.app_news-title-button:hover{
      background-color: #fff;
      color: #283B91;
      transition: .5s;
}
.app_news-posts-container{
      height: 522px;
      width: 65%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 50px ;
}
.app_news-posts-content{
      text-align: left;
      padding: 0px 15px;
}
.app_news-posts{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-width: 370px; 
      min-height: 264px;
      padding: 0 10px;
}
.app_news-posts-img{
     max-width: 350px; 
     min-height: 264px;
     border-radius: 20px;
}
.app_news-statue{
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      width: 80%; 
      max-width: 600px;
}
.app_news-posts-content-title{
      font-weight: 700;
      font-size: 17px;
      line-height: 30px;
      color: #283B91;
}
.app_news-posts-content-subTitle{
      font-weight: 700;
      font-size: 23px;
      line-height: 30px;
      color: #768899;
      font-family: 'K2D', sans-serif;
}
.app_news-posts-content-text{
      font-size: 15px;
     line-height: 20px;
      color: #768899;
}
.app_news-posts-content-link{
      font-size: 15px;
      line-height: 30px;
      font-weight: 700;
      color: #283B91;
      padding: 5px;
}
.app_news-posts-content-link:hover{
      background-color: #fff;
      transition: .3s;
}
@media screen and (max-width: 1300px) {
      .app_news-statue{
            opacity: 0.5;
      }
}
  @media screen and (max-width: 900px) {
      .app_news-container{
            padding-bottom: 60px;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size:contain;
            margin-bottom: -30px;
      }
      .app_news-posts-container{
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 160px ;
      }
      .app_news-title{
            width: 100%;
            font-size: 35px;
            line-height: 124%;
            margin-bottom: 150px;
      }
      .app_news-title-button{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 8px;
            padding: 9px 24px;
            border-radius: 20px;
            font-size: 13px;
            line-height: 21px;
      }
      .app_news-posts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: unset; 
            margin-top: 250px;
      }
      .app_news-posts-content{
            text-align: left;
            padding: 0px 15px;
            width: 330px;
            margin-bottom: 20px;
      }

      .app_news-posts-img{
            max-width: 330px;
      }
      .app_carousel-container_img {
            max-width: 151.28px;    
      }
      .app_news-statue{
            right: -150px;
            bottom: 0;
            width: 100%;
            opacity: 0.5;
      }
      .app_news-posts-content-title{
            font-size: 13px;
            line-height: 21px;
      }
      .app_news-posts-content-link{
            font-size: 13px;
            line-height: 21px;
      }.app_news-posts-content-text{
            font-size: 13px;
            line-height: 21px;
      }
      .app_news-posts-content-subTitle{
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #768899;
      }

  }