.app_expertise-main-container{
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
}

.app_expertise-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 19px;
      width: 100%;
}

.app_expertise-items{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 29%;
      height: 230px;
      padding: 10px;
      border-radius: 20px;
      margin-bottom: 19px;
      background-color: #FFF;
      cursor: pointer;
      text-transform: none;
}
.app_expertise-items:hover{
      box-shadow: 0px 0px 20px 3px rgba(123, 188, 255, 0.2);
}
.app_section-title{
      width: 591px;
      font-size: 55px;
      font-weight: 800;
      line-height: 121%;
      font-size: 55px;
      text-align: center;
      font-family: 'K2D', sans-serif;
      color: #2a3894;
}
.app_section-title p{
      margin-top: 25px;
}
.app_expertise-items-icons{
      color: #2a3894;
      font-size: 36px;
}
.app_expertise-items-title{
      font-family: 'K2D', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #2a3894;
      line-height: 30px;
      margin: 0;
}
.app_expertise-items-content{
      text-align: center;
      line-height: 20px;
      width: 70%;
      color: #768899;
}
@media screen and (max-width: 450px) {
      .app_section-title{
            font-size: 35px;
      }
      .app_expertise-items{
            width: unset;
            height: unset;
            max-width: 387px;
            max-height: 264px;
            min-height: 184px;;
      }
      .app_expertise-items-title{
            font-size: 17px;
            line-height: 21px;
      }
      .app_expertise-items-content{
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            width: 70%;
            color: #768899;
      }
      .app_expertise-items-icons{
            font-size: 28px;
      }
}
@media screen and (max-width: 650px) {
      .app_expertise-items{
            width: 80%!important;
      }
}
@media screen and (max-width: 800px) {
      .app_section-title {
            width: 100%;
      }.app_expertise-items{
            box-shadow: 0px 0px 20px 3px rgba(123, 188, 255, 0.07);
      }
}
@media screen and (max-width: 1100px) {
      .app_expertise-items{
            width: 40%;
      }
}