.app_topHeader{

      display: flex;
      width: 80%;
      justify-content: space-between;
      align-items: center;
}
.app_topHeader-location{
      color: var(--color-blue);
      display: flex;
}
.app_topHeader-bullet{
      padding: 0 5px;
}
.app_topHeader-select-translator{
      background-color: transparent;
      border: none; 
      font-size: 1rem;
}
.app_topHeader-text{
      font-size: 14px;
      display: flex;
      align-items: center;
}
.app-hr{
      width: 80%;
      height: 2px;
      margin: 0 auto;
      background-color: #FFF;
}
.language-icons{
      width: 22px;
      height:22px;
      cursor: pointer; 
}
.language-icons:hover{
      opacity: 0.5;
}
