.app_about{
      margin-top: 50px;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: -33px;
      color: var(--color-blue);
}
.app_about-content{
      align-self: baseline;
      max-width: 40%;
      color: var(--color-blue);
}
.app_about-text{
      text-align: left;
      height: 117px;
      font-size: 18px;
      line-height: 23px;
      max-width: 343px;
      color: #768899;
      margin-top: 50px;
}
.app_about-image{
      max-width: 60%;
}
.app_about-image img{
      max-width: 80%;
}
.app_about-title{
      text-align: start;
      height: 70px;
      max-width: 360px;
      font-size: 33px;
      color: #283B91;
      font-family: 'K2D', sans-serif;
      margin-bottom: 0px;
}
.app_about-logo{
      width: 115%;
}
@media screen and (max-width: 450px) {
      .app_about-title{
            font-size: 20px;
            margin-bottom: 0px;
            height: unset;
      }.app_about-text{
            width: 70%;
            font-size: 13px;
            line-height: 17px;
      }.app_about-content{
            display: flex;
            flex-direction: column;
      }img.app_about-logo{
            width: 80%;
            align-self: flex-start;
      }
}

@media screen and (max-width: 900px) {

      .app_about{
            flex-direction: column;
            margin-top: 0px;
            width: 100%;
      }
      .app_about-image{
            display: flex;
            justify-content: flex-end;
            max-width: 100%;
      }
      .app_about-image img{
            max-width: 70%;
            align-self: flex-end;
            padding: 0px 20px;
      }
      .app_about-content{
            max-width: 100%;
            color: var(--color-blue);
            padding: 0px 20px;
      }
      .app_about-logo{
            width: 100%;
      }
      .app_about-text{
            height: unset;
      }
}